.image {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

.img-container {
  max-height: 450px;
  min-height: 200px;
}

.image {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

.img-container,
.img-preview {
  background-color: #f7f7f7;
  text-align: center;
  width: 100%;
}
